.link {
	display: inline-block;
	text-decoration: none;
	color: var(--clr-link, inherit);
	cursor: pointer;
	transition: color 0.4s ease;

	&--primary {
		&:hover,
		&:focus {
			--clr-link: var(--clr-primary-700);
		}
	}
}
