.count-list {
	counter-reset: count 0;

	&__numbered-item {
		counter-increment: count 1;

		&::before {
			content: '0' counter(count);
			display: block;
			margin-block-end: 1.2rem;
			font-size: var(--fz-700);
			font-weight: var(--fw-700);
			line-height: 1;
			color: var(--clr-neutral-300);
		}
	}
}
